<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="spy-wiring" version="0.1.0">
  <details>
    <title>Spy Wiring</title>
    <email>mgarcia@conwet.com</email>
    <image></image>
    <smartphoneimage></smartphoneimage>
    <description>Spy Wiring is a widget to do a "Man in the Middle" of wiring, you can see, modify, pause and drop wiring data</description>
    <longdescription>DESCRIPTION.md</description>
    <authors>Miguel Garcia Lafuente &lt;mgarcia@conwet.com&gt;</authors>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/index.md</doc>
  </details>
  <requirements>
      <feature name="StyledElements"/>
  </requirements>
  <wiring>
    <inputendpoint name="textinput" type="text" label="Text Input" description="" friendcode="*"/>
    <outputendpoint name="textoutput" type="text" label="Text output" description="" friendcode="*"/>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="47" width="5"/>
</widget>
